DATABASE_URL="postgres://nestjs:nestjs@localhost:5432/nestjs?schema=public"
PORT="3400"

REDIS_HOST="localhost"
REDIS_PORT="6379"

MONGO_URI="mongodb://nestjs:nestjs@localhost:27017/nestjs?authSource=admin"

BREVO_API_KEY="key"
FROM_EMAIL="email"
FROM_NAME="name"
DEV_EMAIL="email"

CORS_ORIGIN="http://localhost:3000,*"

# SENTRY_DSN=""
# SENTRY_TRACES_SAMPLE_RATE="0"
METRICS_TOKEN=