AUTH_API_URL="http://localhost:3000"
API_URL="http://localhost:3300"
NEXT_PUBLIC_AUTH_API_URL="http://localhost:3000"
NEXT_PUBLIC_STORAGE_URL=""
NEXT_PUBLIC_API_URL=""
BACKEND_PROTOCOL="http"
BACKEND_HOST="localhost"