DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nestjs-nextjs-monorepo?schema=public"

REDIS_HOST="localhost"
REDIS_PORT="6379"

BETTER_AUTH_SECRET="8jfa0X9IFWlsbAUIkp6iLI0oI6SFf862HH+IkGJT0ww="
BETTER_AUTH_URL="http://localhost:3000/api/auth"