DATABASE_URL="postgres://nestjs:nestjs@localhost:5432/nestjs?schema=public"
PORT="3100"

REDIS_HOST="localhost"
REDIS_PORT="6379"

MONGO_URI="mongodb://nestjs:nestjs@localhost:27017/nestjs?authSource=admin"

CORS_ORIGIN="http://localhost:3000,*"
