DATABASE_URL="postgres://nestjs:nestjs@localhost:5432/nestjs?schema=public"
PORT="3300"
BETTER_AUTH_SECRET="8jfa0X9IFWlsbAUIkp6iLI0oI6SFf862HH+IkGJT0ww="
BETTER_AUTH_URL="http://localhost:3000/api/auth"

REDIS_HOST="localhost"
REDIS_PORT="6379"

MONGO_URI="mongodb://nestjs:nestjs@localhost:27017/nestjs?authSource=admin"

ADMIN_EMAIL="admin@admin.com"
ADMIN_PASSWORD="Admin123!"

CORS_ORIGIN="http://localhost:3000,*"